.App {
  background-color: #31434f;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.Mock {
  padding-top: 250px;
  display: none;
}

.SearchTerm {
  color: white;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 2;
}

.Fade {
  animation: fade 1.5s ease-in 0s 1;
}

@keyframes fade {
  0% {
    color: white;
    text-shadow: 0 0 0px rgba(255,255,255,1.0);
  }
  100% {
    color: transparent;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
  }
}

.Search {
  position: relative;
}

.HeroPickerAndSelectedHeroContainer {
  display: flex;
}
