
.HeroesByAttributeList {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

.AttributeName {
  position: relative;
  width: 1.5em;
  border-right: 1px #54606e solid;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-top: 12px;
  color: #54606e;
  letter-spacing: 0.1em;
}

.AttributeName .Rotate {
  transform: translate(-50%, -50%) rotate(-90.0deg);
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 10px;
  text-transform: uppercase;
  font-size: 0.6em;
}

.HeroesList {
  width: 100%;
  word-wrap: break-word;
}

.HeroPreview {
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px 0px black;
}
